@define-color background #252423;
@define-color foreground #d4be98;
@define-color dim        #928374;
@define-color yellow     #fabd2f;
@define-color red        #fb4934;
@define-color green      #b8bb26;

* {
  background: @background;
  border: none;
  border-radius: 5;
  font-family: "Symbols Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces button {
  padding: 0 10px;
  background: transparent;
  color: @foreground;
  border-top: 3px solid @background;
  border-bottom: 3px solid transparent;
}

#workspaces button.active {
  border-bottom: 3px solid @green;
}

#workspaces button.urgent {
  border-bottom: 3px solid @yellow;
}

#submap {
  border-bottom: 3px solid @red;
}

#custom-usbguard,
#custom-decrypted,
#custom-updates,
#custom-mail,
#custom-vpn.off,
#battery.warning,
#disk.warning,
#memory.warning,
#cpu.warning,
#custom-movie.on,
#custom-dnd.dnd-notification,
#custom-dnd.dnd-none {
  border-top: 3px solid @background;
  border-bottom: 3px solid @yellow;
}

#custom-security,
#custom-systemd,
#battery.critical,
#disk.critical,
#memory.critical,
#cpu.critical,
#custom-yubikey,
#custom-eyes,
#custom-recording {
  border-top: 3px solid @background;
  border-bottom: 3px solid @red;
}

#battery.charging {
  border-top: 3px solid @background;
  border-bottom: 3px solid @green;
}

#submap,
#pulseaudio,
#custom-usbguard,
#custom-yubikey,
#custom-eyes,
#custom-decrypted,
#custom-security,
#custom-systemd,
#custom-updates,
#custom-mail,
#network,
#cpu,
#disk,
#memory,
#backlight,
#battery,
#custom-vpn,
#custom-dnd,
#language,
#custom-recording
#clock {
  margin: 0 4px;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-eyes,
#custom-mail,
#custom-progress,
#custom-recording,
#custom-security,
#custom-systemd,
#custom-updates,
#custom-usbguard,
#custom-yubikey,
#disk,
#memory,
#submap,
#network,
#pulseaudio {
  color: @foreground;
}

#custom-decrypted,
#custom-movie,
#custom-vpn {
  color: @dim;
}
